body{
    background-color: antiquewhite;
    margin: 0;
    padding: 70px;       
}

.main-container{
    background-color: white;
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.container-wrapper{
    margin-top: 5rem;
}

.main-container img {
width: 100%;
object-fit: contain;
}

.image-wrapper{
    border-radius: 20px;
    overflow: hidden;
}

section h1{
    font-size: 32px;
}

.prep-container{
    padding: 20px;
    background-color: rgb(255, 248, 248);
    border-radius: 20px;
}
.prep-container span{
    font-weight: bold;
}

.prep-container{
    margin-bottom: 15px;
}

.prep-container h4{
    color:rgb(140, 10, 140)
}

.Ingredients-container h2{
    color: brown;
}
.Ingredients-container li{
    margin-bottom: 15px;
}
.Ingredients-container{
    margin-bottom: 15px;
}

.Instructions-container h2{
    color: brown;
}

.Instructions-container li{
margin-bottom: 15px;
}

.Instructions-container span{
    font-weight: bold;
}

.Nutrition-container h2{
color: brown;
}

.Nutrition-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 6px;
}

.Nutrition-container span{
    color: brown;
    font-weight: bolder;
}