body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;       
}

.main-container{
    background-color: white;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.container-wrapper{
    margin-top: 5rem;
}

.main-container img {
width: 100%;
object-fit: contain;
}

.image-wrapper{
    border-radius: 20px;
    overflow: hidden;
}